.metals/metals.mv.db
.metals/metals.lock.db
.metals/metals.log
.vscode/settings.json
project/
target/
.bloop/*
.metals/*
*.v
vivado/*
*.json
*.fir
*.json
*.fir
*.v
*.bsp
*.idea
*.metals
*.bloop
project/
target/
verilator-tests/scheduler/obj_dir/*
*.vcd
verilator-tests/scheduler/instrIssue
verilator-tests/instrIssue/instrIssue
verilator-tests/decode/obj_dir/*
verilator-tests/decode/decode
